body {
    /*font-family: 'Montserrat';*/

    min-width: 600px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    
}

.main-part > .row > h2 {
    margin: 30px 0;
}

.description p {
    text-align: justify;
}

.counter-container {
    position: relative;
    min-width: 100px;
    height: 50px;
    margin: auto auto;
}

.counter {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    max-width: 140px;
    text-align: center;
    
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid rgb(189,189,189);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    cursor:pointer;
}

.counter span {
    color: rgb(156, 156, 156);
    margin: auto 0;
}

.counter .count {
    color: rgb(128, 128, 128);
}

.plus, .minus {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
}

.minus:hover,
.plus:hover{
    color: black;
}

.addBasket {
    text-transform: uppercase;
}

.pink-btn {
    margin: 0 0;
}

.cost-container {
    width:max-content;
    margin: auto auto;
}

.cost {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.clr_radios {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto auto;
}

.clr_radios input {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 30px;
}

.clr_radios input:hover {
    border: 4px solid #ddd;
}

.clr_radios input:checked {
    border: 4px solid rgb(255, 0, 0);
}

.characteristics {
    min-width: 205px;
    max-width: 440px;
}

.characteristics .col .row {
    height: 20px;
}

.characteristics p {
    min-width: 190px;
}

.checked{
    color:#fbc634 !important;
}

.feedbacks .card {
    min-width: 370px;
    width:100%;
    max-width: 440px;

    padding: 35px;
}

.feedbacks .fb-img {
    width: 58px;
    height: 58px;
    margin-left: -15px;
}

.feedbacks .name {
    font-weight: bold;
}

.feedbacks .tstamp-container {
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    color: rgb(205,205,205);
    border: 1px solid rgb(189,189,189);
}

.feedbacks .comment-row {
    margin-top: 20px;
}

.btn-carousel {
    position: relative;
    width:20px;
}

.btn-floating {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a span{
    color:black;
}

.carousel-inner {
    border-radius: 30px;
    background-image: none;
}

.carousel-item {
    height: auto;
    position: relative;

}

.card {
    height: fit-content;
}

.product-img {
    min-height: 560px;
}